  .size {
    /* position: fixed; */
    position: absolute;
    /* top: 0;
    left: 0; */
    /* top: -100px; */

    width: 100vw;
    height: 100vh;
  }

  .video {
    /* top: -62px; */
    /* top: 63px; */
    top: 0;
    left: 0;
  }

  .canvas {
    top: 0;
    left: 0;
  }